.dayInfo-host {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
    mat-form-field {
        padding: 16px;
    }

    > * {
        padding: 20px;
    }
    
    .holidayCards {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        overflow-y: auto;
    }
    
    .holidayCard {
        margin: 8px;
        flex: 0 1 calc(20% - 16px);
    }
}
