<div class="dayInfo-host">
    <div #filterArea class="filterArea">
        <holiday-filters [enableDateRange]="true" (filterUpdated)="handleFilterUpdate($event)"></holiday-filters>
    </div>
    
    <div class="holidayCards" [ngStyle]="getHolidayCardsStyle()">
        <div class="holidayCard"*ngFor="let holiday of matchedHolidays">
            <mat-card>
                <ng-container *ngFor="let item of holiday | keyvalue">
                    {{formatTitle(item.key)}}: {{item.value || 'N/A'}}<br>
                </ng-container>
            </mat-card>
        </div>
        <h2 *ngIf="!matchedHolidays.length">No entries were found...</h2>
    </div>
</div>

