<form #holidayForm="ngForm" (ngSubmit)="onApply()">
    <mat-form-field appearance="fill">
        <mat-label>Countries</mat-label>
        <mat-select name="countries" multiple [(ngModel)]="filter.countries" (selectionChange)="onApply()" matTooltip="{{getToolTipData(filter.countries)}}">
            <mat-option *ngFor="let country of isoCountries" [value]="country['alpha-2']">{{country.name}}</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field *ngIf="!_enableDateRange else dateRangeField" appearance="fill">
        <mat-label>Current Month</mat-label>
        <input matInput name="currentMonth" [disabled]="true" [(ngModel)]="filter.currentMonth">
    </mat-form-field>

    <ng-template #dateRangeField>
        <mat-form-field appearance="fill">
            <mat-label>Date range</mat-label>
            <mat-date-range-input formGroupName="dates" [rangePicker]="picker">
                <input matStartDate name="start" [(ngModel)]="filter.startDate">
                <input (dateChange)="onApply()" matEndDate name="end" [(ngModel)]="filter.endDate">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </ng-template>
  </form>