<div class="calendar-host">
    <holiday-filters [enableDateRange]="false" [firstDateFromRange$]="firstDateFromRange$" (filterUpdated)="handleFilterUpdate($event)"></holiday-filters>
    <div class="table-container">
        <table class='calendar-table' *ngIf="currCalendarDays.length">
            <thead>
                <tr>
                    <th *ngFor="let weekDayName of weekDayNames">
                        {{weekDayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of currCalendarDays | chunkPipe: 7; let weekIndex = index">
                    <td *ngFor="let day of week; let dayIndex = index" class="calendar-day" [ngClass]="{'past-date': day.isPastDate, 'today': day.isToday}">
                        <div class="calendar-day-header" [ngClass]="{'pink-date': day.isToday}">
                            <ng-container *ngIf="shouldDisplayMonth(day, weekIndex, dayIndex) else justDate">
                                <strong>{{monthNames[day.date.getMonth()]}} {{day.date.getDate()}}, {{day.date.getFullYear()}}</strong>
                            </ng-container>
                            <ng-template #justDate>
                                <strong>{{day.date.getDate()}}</strong>
                            </ng-template>
                        </div>
                        <div class="dayHolidays">
                            <div *ngFor="let holiday of day.holidays | slice:0:4; let i = index">
                                <ng-container *ngIf="i < 3 else thereAreMoreItems"><strong>{{holiday.countryCode}}</strong> {{holiday.name}}</ng-container>
                                <ng-template #thereAreMoreItems>...</ng-template>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="calendar-buttons">
        <button mat-flat-button color="primary" (click)="changeMonthOrYear(lastOrNext.Last, false)"><mat-icon>first_page</mat-icon></button>
        <button mat-flat-button color="primary" (click)="changeMonthOrYear(lastOrNext.Last)"><mat-icon>chevron_left</mat-icon></button>
        <button mat-flat-button color="primary" (click)="changeMonthOrYear()"><mat-icon>home</mat-icon></button>
        <button mat-flat-button color="primary" (click)="changeMonthOrYear(lastOrNext.Next)"><mat-icon>chevron_right</mat-icon></button>
        <button mat-flat-button color="primary" (click)="changeMonthOrYear(lastOrNext.Next, false)"><mat-icon>last_page</mat-icon></button>
    </div>

</div>