:root {
    color-scheme: dark;
}

.calendar-host {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    holiday-filters, .calendar-buttons {
        padding: 20px; 
    }

    > * {
        flex: 0 0 auto;
    }

    .table-container {
        padding: 0 20px;
        flex: 1;
        overflow-y: auto;

        .calendar-table {
            height: 100%;
            width: 100%;
            border-collapse: collapse;
        }
    }
    
    .calendar-table thead th {
        vertical-align: bottom;
        border-bottom: 1px solid black;
        width: 14.2%;
        background-color: rgb(48,48,48);
    }
    
    .calendar-table td, .calendar-table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid black;
    }
    
    .calendar-day {
        background-color: rgb(33,33,33);
    }
    
    .calendar-items-wrapper {
        margin-left: -10px;
        margin-right: -10px;
        overflow-y: auto;
        max-height: calc(100% - 20px);
    }
    
    .calendar-day.past-date {
        background-color: rgb(85, 85, 85);
    }
    
    .pink-date {
        color: rgb(195, 24, 91);
    }

    .calendar-buttons button {
        padding-right: 8px;
    }
}
