:root {
    color-scheme: dark;
}

.app-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .mat-drawer-side {
        border-right: unset;
    }

    mat-toolbar {
        flex: 0 0 auto;
        
        h1 {
            right: 16px;
            position: absolute;
        }
    }

    mat-drawer-container {
        flex-grow: 1;

        mat-drawer {
            height: 100%;
            width: 80px;

            .buttons {
                padding: 16px;
                text-align: center;

                .active {
                    background-color: #C2185B;
                }
            }
        }

        mat-drawer-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            

            > mat-card {
                height: 100%;
                margin: 16px;
                padding: 0px;
                width: calc(100% - 32px);
                overflow: auto;

                hh-calendar {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

mat-drawer .mat-drawer-inner-container {
    overflow: hidden;
}
