<div class="app-container">
    <mat-toolbar>
        <button mat-icon-button (click)="matDrawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>Happy Holidays!</h1>
    </mat-toolbar>

    <mat-drawer-container [hasBackdrop]="false">
        <mat-drawer #matDrawer [mode]="'side'">
            <div class="buttons">
                <button [routerLink]="['/calendar']" mat-raised-button routerLinkActive="active">
                    <mat-icon>calendar_month</mat-icon>
                </button>
                <button [routerLink]="['/dayInfo']" mat-raised-button routerLinkActive="active">
                    <mat-icon>view_list</mat-icon>
                </button>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
